[Unit]
Description=HBMonV2
After=hblink3_bridge
Wants=network-online.target

[Service]
ExecStartPre=sudo mount -o remount,rw / ; sudo mount -o remount,rw /boot


ExecStart=/usr/bin/python3 /opt/HBMonv2/monitor.py
WorkingDirectory=/opt/HBMonv2/
Restart=always
RestartSec=5
User=pi-star
Require=hblink3_bridge

SyslogIdentifier=HBMonv22  
[Install]
WantedBy=default.target
